@charset "UTF-8";
/* Colors-------------------------------------*/
/* ------------------------------------------------*/
/* Box Shadows-------------------------------------*/
/* ------------------------------------------------*/
:root {
  --vvh: 1vh;
  --vvw: 1vw;
  --heading1-x-movement: 0;
  --heading1-y-movement: 0;
  --heading2-x-movement: 0;
  --heading2-y-movement: 0;
  --headings-length: 75vw; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes slideTopHeading {
  33% {
    -o-transform: translate(var(--heading1-x-movement), var(--heading1-y-movement));
    -ms-transform: translate(var(--heading1-x-movement), var(--heading1-y-movement));
    -webkit-transform: translate(var(--heading1-x-movement), var(--heading1-y-movement));
    transform: translate(var(--heading1-x-movement), var(--heading1-y-movement)); }
  100% {
    transform: translate(0, 0); } }

@keyframes slideBottomHeading {
  33% {
    transform: translate(var(--heading2-x-movement), var(--heading2-y-movement)); }
  100% {
    transform: translate(0, 0); } }

@keyframes fadeOut {
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideTopInfo {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(var(--heading1-x-movement), var(--heading1-y-movement));
    transform: translate(var(--heading1-x-movement), var(--heading1-y-movement)); } }

@keyframes slideBottomInfo {
  0% {
    opacity: 1;
    transform: translate(0, 0); }
  100% {
    opacity: 0;
    -webkit-transform: translate(var(--heading2-x-movement), var(--heading2-y-movement));
    transform: translate(var(--heading2-x-movement), var(--heading2-y-movement)); } }

@keyframes drawSVGPath {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }

@keyframes undrawSVGPath {
  0% {
    stroke-dashoffset: 0;
    opacity: 0; }
  15% {
    stroke-dashoffset: 0;
    opacity: 1; }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    opacity: 1; } }

@keyframes delayDisplay {
  from {
    display: none; }
  to {
    display: block; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: inherit; }

section {
  position: relative; }

fieldset {
  border-width: 0 !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7; }

.heading-primary {
  color: var(--color-lgtext);
  padding: 3rem 0 2rem 0;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  font-weight: 300; }
  .heading-primary--centered {
    text-align: center; }
  @media only screen and (min-width: 42.125em) {
    .heading-primary {
      opacity: 0; } }

h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-xsmall {
  margin-bottom: 1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top {
  margin-top: 3rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left {
  margin-left: 2rem !important; }

.u-flex-row-wrapper {
  display: flex;
  flex-direction: row !important; }

.u-bold {
  font-weight: 600; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2px !important;
  transition: transform 0.2s, opacity 0.2s, box-shadow 0.2s;
  position: relative;
  font-size: 1.2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-align: center;
  background-color: var(--color-btn);
  color: var(--color-btntxt);
  width: 21rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

.card {
  perspective: 150rem;
  width: 100%;
  height: 18vh;
  height: calc(var(--vvh, 1vh) * 18);
  z-index: 0;
  margin: 0.7rem;
  max-height: 149.375px;
  max-width: 415px; }
  @media only screen and (min-width: 37.5em) {
    .card {
      width: calc(50% - 1.4rem); } }
  @media only screen and (min-width: 45.625em) {
    .card {
      height: calc((50vw - 4.4rem) * 0.3599625); } }
  @media only screen and (min-width: 940px) {
    .card {
      margin: calc(25vw - 207.5px - 1.5rem - 0.7rem); } }
  @media only screen and (min-width: 1064px) {
    .card {
      margin: 3.6rem; } }
  .card__text {
    width: 100%;
    text-align: center; }
    .card__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .card__text--lower {
      border-top: solid #707074 1px;
      padding-top: 1.2rem; }
    .card__text--github {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center; }
    .card__text--inner {
      margin: 0.5rem; }
  .card__side {
    height: 100%;
    font-size: 2rem;
    width: 100%;
    transition: transform 0.8s ease, height 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
    text-align: left; }
    .card__side-description {
      text-align: center;
      font-size: 2rem;
      display: block;
      font-weight: 400;
      margin-bottom: 0.5rem; }
      .card__side-description--small {
        font-size: 1.7rem; }
      .card__side-description--xsmall {
        font-size: 1.7rem; }
    .card__side--front {
      background-color: var(--color-lightbackground); }
      .card__side--front-CSArt {
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 300;
        font-size: 2.5rem;
        color: #78716c; }
      .card__side--front-SGWrites {
        font-family: "Zilla Slab", serif;
        font-weight: 500;
        font-size: 3rem;
        background-color: #333333;
        color: #ffffe9;
        line-height: 1.3; }
      .card__side--front-Github {
        background-color: #24292f;
        color: #ffffe9;
        font-weight: 400;
        font-size: 2.5rem; }
      .card__side--front-Portfolio {
        line-height: 2.5; }
    .card__side--back {
      background-color: var(--color-backgroundcard);
      font-size: 1.4rem;
      padding: 1.3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: var(--color-cardtext);
      -webkit-font-smoothing: antialiased;
      font-smooth: always; }
  @media (any-hover: hover) {
    .card:hover {
      z-index: 555555 !important;
      transition-delay: 0s; }
    .card:hover .card__side--front {
      transform: rotateY(-180deg); }
    .card:hover .card__side--back {
      transform: rotateY(0);
      height: calc(72vh + 3.6rem);
      height: calc(var(--vvh, 1vh) * 73 + 4.2rem);
      width: calc(100vw - 6rem); }
    .card:not(:hover) .card__side--back {
      transform: translate3d(0, 0, 0) rotateY(180deg); } }
  .card__logo {
    height: 60%; }
    .card__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .card__img {
    max-height: 65%;
    object-fit: contain; }
  @media only screen and (min-width: 800px) {
    .card__side-info {
      margin-left: 5rem;
      margin-right: 5rem; } }

.flipcard-checkbox {
  display: none; }
  @media (any-hover: none) {
    .flipcard-checkbox:checked + .card {
      z-index: 555555 !important;
      transition-delay: 0s; }
    .flipcard-checkbox:checked + .card .card__side--front {
      transform: rotateY(-180deg); }
    .flipcard-checkbox:checked + .card .card__side--back {
      transform: rotateY(0);
      height: calc(72vh + 3.6rem);
      height: calc(var(--vvh, 1vh) * 72 + 3.6rem);
      width: 80vw; }
    .flipcard-checkbox:not(:checked) + .card .card__side--back {
      transform: translate3d(0, 0, 0) rotateY(180deg); } }

.collapsible {
  width: 100%;
  font-size: 2rem; }
  @media only screen and (min-width: 63em) {
    .collapsible {
      width: calc(((100vw - 15rem) / 3));
      margin: 0 1.5rem; } }
  .collapsible__checkbox {
    display: none; }
  .collapsible__checkbox:checked ~ .collapsible__section {
    max-height: 50rem; }
  .collapsible__checkbox:checked ~ .collapsible__section .collapsible__icon,
  .collapsible__checkbox:checked ~ .collapsible__section .collapsible__icon:after {
    transform: rotate(180deg); }
  .collapsible__checkbox:checked ~ .collapsible__section .collapsible__content {
    opacity: 1;
    transform: translateY(0); }
  .collapsible__section {
    transition: max-height 0.5s ease-in-out;
    transform-style: preserve-3d;
    display: block;
    max-height: 6rem;
    padding: 10px 15px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-bottom: 3px solid var(--color-accents);
    color: var(--color-lgtext); }
  .collapsible__header {
    font-weight: 300; }
  .collapsible__icon {
    top: 2.7rem;
    right: 1rem; }
    .collapsible__icon, .collapsible__icon::after {
      width: 1.7rem;
      height: 1.8px;
      background-color: var(--color-lgtext);
      display: block;
      position: absolute;
      transition: transform 0.5s ease-in-out; }
    .collapsible__icon::after {
      content: "";
      transform: rotate(90deg); }
  .collapsible__content {
    margin-top: 1rem;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(-5rem);
    z-index: -1;
    color: var(--color-smtext);
    font-weight: var(--weight-smtext);
    list-style-type: "—    "; }
  .collapsible__item {
    margin-left: 3rem;
    margin-top: 1rem; }
    .collapsible__item::marker {
      font-weight: 700;
      color: var(--color-smtext); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 56.25em) {
    .form__fieldset-wrapper {
      display: flex;
      flex-direction: row; } }
  .form__formset {
    width: 80vw; }
  @media only screen and (min-width: 56.25em) {
    .form__formset:first-child {
      margin-right: 2rem;
      width: 35rem; }
    .form__formset:last-child {
      margin-left: 2rem;
      width: 45rem; } }
  @media only screen and (min-width: 65em) {
    .form__formset:first-child {
      margin-right: 4rem; }
    .form__formset:last-child {
      margin-left: 4rem;
      width: calc(100vw - 53rem); } }
  .form__group {
    display: flex;
    flex-direction: column; }
    .form__group:not(:last-child) {
      margin-bottom: 2.5rem; }
    .form__group:last-child {
      margin-bottom: 3rem; }
    .form__group:first-child {
      margin-top: 0.5rem; }
  .form__label {
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-lgtext); }
  .form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form__input {
    border-radius: 0 !important;
    width: 100%;
    border: 1px solid var(--color-formborder);
    background-color: var(--color-background);
    padding: 1rem;
    font-family: "Lato";
    font-size: 1.6rem;
    color: var(--color-smtext); }
    .form__input input {
      height: 3.5rem; }
    .form__input:focus {
      outline: none; }
      .form__input:focus:valid {
        outline: 2px solid #5cb85c; }
      .form__input:focus:invalid {
        outline: 2px solid #c32430; }
    .form__input::placeholder {
      color: var(--color-formplaceholder); }
    @media only screen and (min-width: 56.25em) {
      .form__input--textarea {
        height: calc(var(--vvh, 1vh) * 100 - 30rem);
        width: 100%;
        margin-bottom: 6rem; } }

.logo--github {
  color: #fff;
  display: block; }

.scroll-snap-wrapper {
  height: 100vh;
  height: calc(var(--vvh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;
  margin: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }

.theme {
  background-color: var(--color-background);
  transition: all 0.8s ease-in-out; }
  .theme__light {
    --color-lgtext: #707074;
    --color-smtext: #47474d;
    --color-cardtext: #47474d;
    --weight-smtext: 400;
    --color-accents: #707074;
    --color-background: #ffffff;
    --color-backgroundcard: #ffffff;
    --color-background-trans: rgba(255, 255, 255, 0.7);
    --color-lightbackground: #ffffff;
    --color-formborder: #d6d6d7;
    --color-formplaceholder: #707074;
    --color-btn: #333333;
    --color-btntxt: #ffffff; }
  .theme__dark {
    --color-lgtext: #c2c2c4;
    --color-smtext: #ebebeb;
    --color-cardtext: #ebebeb;
    --weight-smtext: 300;
    --color-accents: #47474d;
    --color-background: #323339;
    --color-backgroundcard: #2d2e33;
    --color-background-trans: rgba(50, 51, 57, 0.7);
    --color-lightbackground: #d6d6d7;
    --color-formborder: #47474d;
    --color-formplaceholder: #c2c2c4;
    --color-btn: #d6d6d6;
    --color-btntxt: #333333; }
  .theme__light-pink {
    --color-lgtext: #707074;
    --color-smtext: #707074;
    --color-cardtext: #5b5c61;
    --weight-smtext: 400;
    --color-accents: #707074;
    --color-background: #ffc0cb;
    --color-backgroundcard: #ffd9e0;
    --color-background-trans: rgba(255, 192, 203, 0.7);
    --color-lightbackground: #fff;
    --color-formborder: #99999c;
    --color-formplaceholder: #707074;
    --color-btn: #fff;
    --color-btntxt: #333333; }
  .theme__blue {
    --color-lgtext: #5b5c61;
    --color-smtext: #5b5c61;
    --color-cardtext: #5b5c61;
    --weight-smtext: 400;
    --color-accents: #8793a5;
    --color-background: #cbdcf5;
    --color-backgroundcard: #e0eaf9;
    --color-background-trans: rgba(203, 220, 245, 0.7);
    --color-lightbackground: #fff;
    --color-formborder: #8793a5;
    --color-formplaceholder: #8793a5;
    --color-btn: #fff;
    --color-btntxt: #333333; }
  .theme__green {
    --color-lgtext: #494d45;
    --color-smtext: #494d45;
    --color-cardtext: #494d45;
    --weight-smtext: 400;
    --color-accents: #494d45;
    --color-background: #aad188;
    --color-backgroundcard: #9dce72;
    --color-background-trans: rgba(170, 209, 136, 0.7);
    --color-lightbackground: #ffffff;
    --color-formborder: #6d716a;
    --color-formplaceholder: #57614d;
    --color-btn: #ffffff;
    --color-btntxt: #333333; }
  .theme__lilac {
    --color-lgtext: #5b5c61;
    --color-smtext: #5b5c61;
    --color-cardtext: #333333;
    --weight-smtext: 400;
    --color-accents: #676279;
    --color-background: #cec2ff;
    --color-backgroundcard: #beaeff;
    --color-background-trans: rgba(206, 194, 255, 0.7);
    --color-lightbackground: #fff;
    --color-formborder: #676279;
    --color-formplaceholder: #7b768f;
    --color-btn: #fff;
    --color-btntxt: #333333; }
  .theme__yellow {
    --color-lgtext: #494d45;
    --color-smtext: #494d45;
    --color-cardtext: #333333;
    --weight-smtext: 400;
    --color-accents: #aca65b;
    --color-background: #f9f07a;
    --color-backgroundcard: #f7ec59;
    --color-background-trans: rgba(249, 240, 122, 0.7);
    --color-lightbackground: #fff;
    --color-formborder: #a19d65;
    --color-formplaceholder: #a7a25d;
    --color-btn: #fff;
    --color-btntxt: #333333; }
  .theme__peach {
    --color-lgtext: #494d45;
    --color-smtext: #494d45;
    --color-cardtext: #494d45;
    --weight-smtext: 400;
    --color-accents: #9e794e;
    --color-background: #fcba70;
    --color-backgroundcard: #fcc07d;
    --color-background-trans: rgba(252, 186, 112, 0.7);
    --color-lightbackground: #fff;
    --color-formborder: #9e794e;
    --color-formplaceholder: #aa8356;
    --color-btn: #fff;
    --color-btntxt: #333333; }

.theme-selection {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  .theme-selection {
    animation: fadeIn 0.5s 2s forwards;
    opacity: 0; }
  .theme-selection__selector:checked + .theme-selection__label {
    cursor: auto; }
  .theme-selection__label {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
    border-radius: 50%;
    background-color: var(--color-background);
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.2rem;
    width: 2.1rem;
    height: 2.1rem; }
    .theme-selection__label {
      display: flex;
      justify-content: center;
      align-items: center; }
    .theme-selection__label--light {
      background-color: #ffffff; }
    .theme-selection__label--dark {
      background-color: #323339; }
    .theme-selection__label--light-pink {
      background-color: #ffc0cb; }
    .theme-selection__label--blue {
      background-color: #cbdcf5; }
    .theme-selection__label--green {
      background-color: #aad188; }
    .theme-selection__label--lilac {
      background-color: #cec2ff; }
    .theme-selection__label--yellow {
      background-color: #f9f07a; }
    .theme-selection__label--peach {
      background-color: #fcba70; }
  .theme-selection__selector {
    display: none; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: var(--color-background-trans);
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 3.5rem;
  right: 3rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  .navigation__button {
    animation: fadeIn 0.5s 2s forwards;
    opacity: 0; }
  @media only screen and (min-width: 42.125em) {
    .navigation__button {
      display: none; } }

.navigation__background {
  height: calc(var(--vvh, 1vh) * 100);
  width: calc(var(--vvw, 1vw) * 100);
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px); }

.navigation__list {
  height: 100%;
  position: fixed;
  right: 0;
  width: 30rem;
  transform: translateX(30rem);
  list-style: none;
  background-color: var(--color-background);
  color: var(--color-lgtext);
  z-index: 1500;
  transition: all 0.8s ease-in-out; }
  .navigation__list {
    animation: fadeIn 0.5s 2s forwards;
    opacity: 0; }
  @media only screen and (min-width: 42.125em) {
    .navigation__list {
      height: 7rem;
      width: 100vw;
      transform: translateX(0rem);
      position: fixed;
      top: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; } }

.navigation__item {
  margin: 3rem; }
  .navigation__item:first-child {
    margin-top: 15rem; }
  @media only screen and (min-width: 42.125em) {
    .navigation__item, .navigation__item:first-child {
      margin: 0rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  white-space: nowrap;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  transition: all 0.4s;
  transition: font-size 0.6s; }
  @media only screen and (min-width: 42.125em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.5rem; } }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }
    @media only screen and (min-width: 42.125em) {
      .navigation__link:link span, .navigation__link:visited span {
        display: none; } }
  @media only screen and (min-width: 42.125em) {
    .navigation__link:link, .navigation__link:visited {
      padding: 2rem; } }

.navigation__link:hover, .navigation__link:active {
  transform: translateX(1rem); }
  @media only screen and (min-width: 42.125em) {
    .navigation__link:hover, .navigation__link:active {
      transform: translateX(0); } }

.navigation__checkbox:checked ~ .navigation__background {
  opacity: 1;
  z-index: 1000; }

.navigation__checkbox:checked ~ .navigation__nav .navigation__list {
  transform: translateX(0rem); }

.navigation__icon {
  position: relative;
  margin-top: 1.9rem;
  border-radius: 100px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: var(--color-lgtext);
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }
  .navigation__icon {
    width: 60%; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  width: 100%; }

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center; }
  .grid--accordian {
    justify-content: left; }

.header {
  top: 0;
  height: 100vh;
  height: calc(var(--vvh, 1vh) * 100);
  line-height: 3.2;
  scroll-snap-align: start; }
  .header__divider {
    width: --headings-length; }
    .header__divider {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .header__heading {
    line-height: 1.7;
    font-weight: 300;
    font-size: calc(20px + 1.53vw);
    letter-spacing: 5px;
    text-transform: uppercase; }
    @media only screen and (min-width: 23.75em) {
      .header__heading {
        letter-spacing: 10px; } }
  .header__text {
    text-align: left;
    display: inline-block;
    font-size: calc(18px + 0.58vw);
    margin-bottom: 0 !important;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 0.6s linear forwards; }
    .header__text:first-child {
      transform: translate(var(--heading1-x-movement), var(--heading1-y-movement)); }
    .header__text:last-child {
      transform: translate(var(--heading2-x-movement), var(--heading2-y-movement)); }
  .header__info {
    animation: fadeIn 4s linear forwards; }
  @media only screen and (min-width: 28em) {
    .header__CL {
      font-size: calc(40px + 3vw);
      font-weight: 300; } }
  .header__text-box {
    color: var(--color-lgtext);
    text-align: center;
    padding: 3rem;
    max-width: 33.1rem; }
    .header__text-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    @media only screen and (min-width: 23.75em) {
      .header__text-box {
        max-width: 39.9rem; } }
    @media only screen and (min-width: 28em) {
      .header__text-box {
        max-width: 45.406rem; } }
    @media only screen and (min-width: 48em) {
      .header__text-box {
        max-width: calc(400px + 22.63vw + 11rem);
        width: calc(400px + 22.63vw + 11rem); } }
  .header__img {
    height: 20rem;
    width: 20rem; }
  .header__divider {
    opacity: 0;
    animation: undrawSVGPath 2s linear forwards; }

.section {
  margin-top: 3rem;
  padding: 0 3rem;
  height: calc(var(--vvh, 1vh) * 100);
  width: 100vw;
  scroll-snap-align: start;
  font-size: 1.3rem;
  overflow-y: scroll; }
  .section--aboutme {
    font-weight: var(--weight-smtext);
    color: var(--color-smtext); }
    .section--aboutme__text {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: calc(var(--vvh, 1vh) * 100 - 101px); }
      .section--aboutme__text > * {
        margin-bottom: 1rem; }
    @media only screen and (min-width: 23em) {
      .section--aboutme {
        font-size: 1.4rem; } }
    @media only screen and (min-width: 27.81em) {
      .section--aboutme {
        font-size: 1.6rem; } }
    @media only screen and (min-width: 45.625em) {
      .section--aboutme {
        padding-left: calc(3rem + 7vw);
        padding-right: calc(3rem + 7vw);
        font-size: calc(9.788px + 0.85vw); } }
    @media only screen and (min-width: 68.75em) {
      .section--aboutme {
        margin-top: 10rem; } }
    .section--aboutme li {
      margin-left: 3rem; }
  .section--projects {
    max-height: 100vh;
    overflow: hidden; }
  .section----cv__pdf {
    max-width: 80vw;
    max-height: 80vh;
    max-height: calc(var(--vvh, 1vh) * 80); }
    .section----cv__pdf {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
