@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolute-center {
  & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin flex-center {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@mixin appear-after-load {
  & {
    animation: fadeIn 0.5s 2s forwards;
    opacity: 0;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    } //1200px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 63em) {
      @content;
    } //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}
