.header {
  top: 0;
  height: 100vh;
  height: calc(var(--vvh, 1vh) * 100);
  line-height: 3.2;
  scroll-snap-align: start;

  &__divider {
    @include absolute-center;
    width: --headings-length;
  }
  &__heading {
    line-height: 1.7;
    font-weight: 300;
    font-size: calc(20px + 1.53vw);
    letter-spacing: 5px;
    @media only screen and (min-width: 23.75em) {
      letter-spacing: 10px;
    }
    text-transform: uppercase;
  }

  &__text {
    text-align: left;
    display: inline-block;
    font-size: calc(18px + 0.58vw);
    margin-bottom: 0 !important;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 0.6s linear forwards;
    // CSS ANIMATION NOT CURRENTLY WORKING SO IMPLEMENTED IN JS - SAFARI BUG
  }
  &__info {
    animation: fadeIn 4s linear forwards;
  }
  &__CL {
    @media only screen and (min-width: 28em) {
      font-size: calc(40px + 3vw);
      font-weight: 300;
    }
  }
  &__text-box {
    color: var(--color-lgtext);
    text-align: center;
    padding: 3rem;
    // max-width: 98vw;
    max-width: 33.1rem;
    // width: calc(292px + 22.33vw + 11rem);
    @include absolute-center;
    @media only screen and (min-width: 23.75em) {
      max-width: 39.9rem;
    }
    @media only screen and (min-width: 28em) {
      max-width: 45.406rem;
    }
    @media only screen and (min-width: 48em) {
      max-width: calc(400px + 22.63vw + 11rem);
      width: calc(400px + 22.63vw + 11rem);
    }
    // @include respond(tab-land) {
    //   line-height: 3.5;
    // }
  }

  &__img {
    height: 20rem;
    width: 20rem;
  }
  &__divider {
    opacity: 0;
    animation: undrawSVGPath 2s linear forwards;
  }
}
