.nav {
  width: 100%;
  text-align: center;
  margin-top: 0;
  transition: all 1s ease-in-out;

  &--expanded {
    margin: 2rem 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: inherit;
    line-height: 0rem;
  }

  &__link:hover {
    color: cyan;
  }

  &__link:hover &__icon {
    stroke: cyan;
  }

  &__icon {
    height: 3.5rem;
    width: 3.5rem;
  }
  &__label {
    font-size: 1rem;
  }
}
