// body {
//   scroll-snap-type: y mandatory;
// }
section {
  margin-top: 3rem;
  padding: 0 3rem;
  height: 100vh;
  height: calc(var(--vvh, 1vh) * 100);
  width: 100vw;
  scroll-snap-align: start;
  font-size: 1.6rem;
  overflow-y: scroll;
}
.aboutme {
  font-weight: var(--weight-smtext);
  color: var(--color-smtext);
  @media only screen and (min-width: 68.75em) {
    margin-top: 10rem;
  }
  @media only screen and (min-width: 45.625em) {
    padding-left: calc(3rem + 7vw);
    padding-right: calc(3rem + 7vw);
    font-size: calc(9.788px + 0.85vw);
  }
  // &__text {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   align-content: center;
  //   justify-content: center;
  //   justify-items: center;
  //   // margin-top: auto;
  //   height: calc(100vh - 12rem);
  // }

  // 16px+0.85vw-6.212)
  // 2.1vw -> 16px
  // 100vw/
  // font size goes between 16 and 20 at 1200
  // 730
  // 16+ 1vw/3
  // font size = 20 - 1200-100vw
}
// 16 the full viewport width over 730
