@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes slideTopHeading {
  // 0% {
  //   -webkit-transform: translate(0, 0);
  //   transform: translate(0, 0);
  // }

  // 50% {
  //   -o-transform: translate(0, 0);
  //   -ms-transform: translate(0, 0);
  //   -webkit-transform: translate(0, 0);
  //   transform: translate(0, 0);
  // }
  33% {
    -o-transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
    -ms-transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
    -webkit-transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
    transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slideBottomHeading {
  // 0% {
  //   -webkit-transform: translate(0, 0);
  //   transform: translate(0, 0);
  // }
  // 50% {
  //   -webkit-transform: translate(0, 0);
  //   transform: translate(0, 0);
  // }
  // 100% {
  //   // BROKEN IN SAFARI
  //   -webkit-transform: translate(
  //     var(--heading2-x-movement),
  //     var(--heading2-y-movement)
  //   );
  // transform: translate(
  //   var(--heading2-x-movement),
  //   var(--heading2-y-movement)
  // );
  // transform: translate(10px, 10px);
  // }
  33% {
    transform: translate(
      var(--heading2-x-movement),
      var(--heading2-y-movement)
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeOut {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideTopInfo {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
    transform: translate(
      var(--heading1-x-movement),
      var(--heading1-y-movement)
    );
  }
}

@keyframes slideBottomInfo {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(
      var(--heading2-x-movement),
      var(--heading2-y-movement)
    );
    transform: translate(
      var(--heading2-x-movement),
      var(--heading2-y-movement)
    );
  }
}

@keyframes drawSVGPath {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes undrawSVGPath {
  0% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  15% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    opacity: 1;
  }
}
