*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

section {
  position: relative;
}

.pdf {
  max-width: 80vw;
  max-height: 80vh;
  max-height: calc(var(--vvh, 1vh) * 80);
  @include absolute-center;
  &__frame {
    border-bottom: 4px solid #323639;
  }
}

fieldset {
  border-width: 0 !important;
}
